* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / 4;
    background-color: red;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
}

.header .search {
    align-self: center;
}

.header .profile {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.back-color { 
    background-color: orange;
    grid-column: 1;
    grid-row: 1 / 4;
}
.side-bar {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 60%;
}

.content {
    background-color: blue;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project {
    background-color: purple;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project .single {
    background-color: white;
    padding: 3em 1em;
    margin: 1em;
}

.right-side {
    background-color: brown;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements .news{
    background-color: white;

}

.trending .avatar {
    background-color: white;
}


